
<footer id="contact" class="text-center  p-5" style="background-color: black;">
  <h2 class="mb-4" style="color: white;">Get in Touch</h2>
  <div class="d-flex justify-content-center">
    <!-- LinkedIn Icon -->
    <a href="https://www.linkedin.com/in/tcoer-cybersecurity-club/" target="_blank" class="mx-4 mb-4">
      <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" width="40" height="40">
    </a>
    <!-- Email Icon -->
    <a href="mailto:adityajoshi.etctcoer@kjei.edu.in" class="mx-4 mb-4">
      <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email" width="40" height="40">
    </a>
  </div>
</footer>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>